/*
Author: Jesse Rock
Date: 10/28/2015
*/

/*hide sharepoint bars*/
#suiteBarTop, #s4-ribbonrow, #Ribbon, .s4-notdlg, #WebPartTitleWPQ2, #titleAreaBox, #s4-titlerow, .js-webpart-titleCell, .ms-webpart-controlBox, .js-webpart-menuCell, .ms-webpart-checkboxTd {
  /*display: none !important;*/
}
#contentRow {
  padding: 0 !important;
  margin: 0 !important;
}

.o365cs-base.o365cst.o365cs-topnavBGColor-2 {
    background-color: #251F21 !important;
}
.o365cs-base.o365cst .ms-bgc-tp, .o365cs-nav-header16 .o365cs-nav-rightMenus {
  background: #1E1B1C !important;
}
.o365cs-base.o365cst .ms-bgc-tp:hover, .o365cs-nav-header16 .o365cs-nav-topItem button:hover{
  background: #343132 !important;
}
.o365cs-nav-header16 .o365cs-nav-tenantLogo img{
  display: none;
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    width: 20% !important;
    float: left;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media only screen and (max-width: 1340px) {
    .col-lg-15 {
        width: 25% !important;
        float: left;
    }
}
@media only screen and (max-width: 1120px) {
    .col-lg-15 {
        width: 33.33333333% !important;
        float: left;
    }
}
@media only screen and (max-width: 895px) {
.col-lg-15 {
        width: 50% !important;
        float: left;
    }
}
@media only screen and (max-width: 350px) {
.col-lg-15 {
        width: 100% !important;
        float: left;
    }
}


/*
.publish_box, .publish_content{
  display: none;
}*/
/*remove user select*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.active_report a {
  color: #fff !important;
}
.background {
  background: url("https://thegolubcorporation.sharepoint.com/sites/MYReports/SiteAssets/MyReports/assets/background3.jpg") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  left: 0;
  top: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
nav {
  background: #251f21;
  height: 100vh;
  left: 0;
  top: 50px;
  text-align: left;
  font-family: "museo-slab", arial, sans-serif;
  position: fixed;
  width: 180px;
  z-index: 3;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
h2 {
  color: #fff !important;
}

/*mobile menu*/

.menu_bar {
  background: #251f21;
  display: none;
}
.menu_bar .col-sm-12 {
  padding: 10px;
  color: #f2f2f2;
}
.menu_bar img {
  height: 50px;
  width: auto;
}
.mob_menu_box {
  position: relative;
  z-index: 9;
}
.mob_menu_box .glyphicon {
  font-size: 45px;
  float: right;
  cursor: pointer;
}
.mob_menu_contents {
  display: none;
  position: relative;
  z-index: 10;
  border-top: 1px solid #473F41;
  margin-top: 10px;
}
.mob_menu_options {
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #473F41;
  margin-bottom: 0 !important;
  padding: 0;
  font-size: 16px;
}
.mob_menu_options li {
  list-style: none;
  color: #63ba49;
  cursor: pointer;
  padding: 15px 5px;
}
.menu_item:hover {
  background: #0F0D0E;
}
.mob_social_box {
  padding: 10px 0;
  border-bottom: 1px solid #473F41;
}
.search_button_two{
  display: none;
}
.mob_search_button {
  padding: 10px 0;
}
.mob_search_input {
  font-size: 16px;
  padding: 10px !important;
  width: 100%;
}
.brand_box, .search_button, .menu_button, .search_button_two {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #473F41;
  color: #63ba49;
  font-size: 21px;
}
.menu_button span{
  top:-10px;
}
.search_button_two{
  padding: 0;
}
.search_input_two{
  position: relative;
  width: 80%;
  left: 0;
  padding: 15px !important;
  border: none !important;
}
.search_input_submit_two{
  right: 0;
      position: relative;
      width: 20%;
      float: right;
      padding: 16.5px 0;
      text-align: center;
      background: #63ba49;
}
.search_input_submit_two:hover{
  opacity: 0.7;
}

.menu_close {
  display: none !important;
}
.menu_close_open {
  display: block !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.reset_search {
  display: none;
}
.search_input {
  position: fixed;
  top: 181px;
  width: 0;
  background: #fff;
  left: -100px;
  z-index: 3;
  overflow: hidden;
  padding: 25px !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: none;
}
.search_input_submit {
  position: fixed;
  top: 181px;
  background: #63ba49;
  width: auto;
  left: -100px;
  z-index: 3;
  overflow: hidden;
  padding: 26px;
  /*-webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;*/
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.search_input_submit:hover {
  background: #4B9036;
}
.item_title:hover {
  border: 5px solid #63ba49;
  /*background: #335D27 !important;
  border-bottom: 3px solid #335D27 !important;
  text-shadow: none !important;*/
  opacity: 1;
  /*-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;*/
}
.mob_search_input_submit {
  margin-top: 5px;
  background: #63ba49;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.search_open {
  width: 400px;
  left: 180px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.search_sub_open {
  left: 580px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.gen_info {
  padding: 15px 10px 0 10px !important;
}
.gen_info div {
  background: rgba(37, 31, 33, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 24px;
}
.gen_info h2 {
  margin: 0;
}
.gen_info span {
  opacity: 0.8;
}
.menu_options {
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #473F41;
  margin-bottom: 0;
  padding: 0;
  display: none;
}
.menu_options li {
  border-bottom: 1px solid #2B2426;
  list-style: none;
  color: #63ba49;
  cursor: pointer;
  padding: 10px;
}
.menu_options li span {
  float: right;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mob_menu_options li span {
  float: right;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.menu_button span{
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


.social_contents {
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #473F41;
  padding: 0;
  display: none;
  padding: 0;
  background: #322A2D;
}
.social_contents ul {
  padding: 0;
  margin-bottom: 0;
}
.social_contents li {
  border-bottom: 1px solid #2B2426;
  list-style: none;
  color: #63ba49;
  cursor: pointer;
  padding: 10px;
}
.social_contents li span {
  float: right;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.rotate_item {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.rotate_item_full {
  -ms-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.menu_options li:hover {
  background: #0F0D0E;
}
.menu_open {
  height: auto;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.sub_menu {
  display: none;
  padding: 0;
  background: #322A2D;
}
.active_menu {
  background: #0F0D0E !important;
}
.social_box {
  bottom: 0;
  width: 180px;
  border-bottom: 1px solid #473F41;
  padding: 20px;
  color: #63ba49;
  font-size: 21px;
  cursor: pointer;
  z-index: 3;
  background: #251f21;
}
.span, .span {
  float: right;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.open_social {
  left: 0;
  width: 100%;
}
.input_goes_here_two{
  display: none;
}
.search_button, .menu_button, .search_button_two {
  cursor: pointer;
}
.search_button:hover, .menu_button:hover, .social_box:hover, .search_button_two:hover, .my_reports_button:hover {
  background: #0F0D0E;
}
.brand_box span, .search_button span, .menu_button span{
  float: right;
  display: block !important;
}
.search_button_two span {
  display: block !important;
}
.brand_box img {
  width: 100%;
  height: auto;
}
.loader {
  opacity: 0.8;
  background: #000;
  z-index: 10;
  color: #fff;
  opacity: 1;
  height: 100vh;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  padding: 20vh 20px 20px 20px;
  text-align: center;
  z-index: 99999;
  /*padding-left: 180px;*/
}
.loader img {
  height: auto;
  width: 30%;
}
.version_box_inner{
  position: relative;
color: #000;
padding: 0 9%;
}
.version_box_inner_2{
  display: none;
}











.version_box_inner_2 .container {
  margin: 0 auto;
  height: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .2);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding: 0;
}



.curr-month {
  width: 100%;
  height: 50px;
      background:#63BA49;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.all-days {
  color: #251F21;
  width: 100%;
  height: 40px;
  background-color: #fff;
  float: left;
}

.version_box_inner_2 ul {
  list-style: none;
  display: block;
  height: 30px;
  width: 421px;
  margin: 0 auto;
  float: left;
}

.version_box_inner_2 ul li {
  float: left;
  width:14.28%;
  text-align: center;
  /*padding:10px 0px;*/

  line-height: 41px;
}

.all-date {
  width: 100%;
      height: 360px;
  float: left;
}

.all-date li {
  height: 60px;
  width: 59px;
  line-height: 60px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background-color: #ccc;
}

.b-bottom {
  border-bottom: 1px solid #fff;
}

.b-right {
  border-right: 1px solid #fff;
}

.all-date li.monthdate:hover {
  background-color: #02548b;
  color: #fff;
}

.all-days ul{
  list-style: none;
display: block;
height: 30px;
width: 100%;
margin: 0 auto;
float: left;
padding: 0;
}
.all-days ul li{
  width: 14.28%;
}
.all-date ul{
  width: 100%;
  padding: 0;
}
.all-date li {
    height: 60px;
    width: 14.28%;
  }


.cal-back:hover, .cal-forward:hover{
  opacity: 0.7;
}





.all-date li{
  min-height: 100px !important;
  overflow-y: auto;
}
.calender_img{
  width: auto;
  height: 20px;
}


.version_list_view, .version_calender_view{
  color: #FFF;
text-align: center;
padding: 10px;
font-size: 18px;
font-weight: bold;
background: #251F21;
cursor: pointer;
}
.version_list_view:hover, .version_calender_view:hover{
  opacity: 0.8;
}
.version_selected{
  background: #63ba49;
  cursor: default;
}

.each_version{
  color: #fff;


  text-align: center;


}
.each_version i{
  text-shadow: -2px 2px #3C672E;
}
.each_version i:hover{
  text-shadow: 0;
}
.each_version .col-xs-10{
  background: #251f21;
  padding: 20px 0;
  cursor: default;
  /*border-radius: 3px;*/
}
.each_version img{
  width: auto !important;
height: 32px !important;
}
.each_version .col-xs-2{
  background: #63ba49;
  padding: 11.5px 0;
  font-size: 25px;
  cursor: pointer;
  border-radius:0 8px 8px 0;
}
.each_version a{
  color: #fff !important;
}
.each_version .col-xs-2:hover{
  opacity: 0.8;
}
.overlay, .overlay_2, .overlay_share {
  z-index: 1;
  color: #fff;
  background: #fff;
  opacity: 0.1;
  height: 100vh;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 50px;
  width: 100%;
  padding-left: 180px;
}
.overlay_2 {
  opacity: 0.8;
  top: 0;
  background: #f2f2f2;
  z-index: 3;
  display: none;
}
.overlay_share {
  opacity: 0.8;
  top: 0;
  background: #f2f2f2;
  z-index: 9999;
  display: none;
}

.share_input{
  padding:20px;
  border: none;
  border-top: 3px solid #AFAFAF;
  color:#343434;
  width: 100%;
}
.share_info{
  color:#343434;
  font-size: 21px;
  margin-bottom: 20px;
}
.share_input_submit{
  padding: 20px;
  background: #343434;
  width: 140px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  border-bottom: 3px solid black;
}
.share_input_submit:hover{
  opacity: 0.7;
}
.share_box_inner, .request_box_inner, .share_accepted, .shared_with_box{
  display: none;
  padding: 20px;
    background: #D9D9D9;
    /*margin: 40px;*/
    border-bottom: 3px solid #AFAFAF;
}
.share_box_inner input{
  padding: 20px !important;
}

.request_sent{
  display: none;
  background: #63ba49 !important;
    border-bottom: 1px solid #3F682D !important;
}

.request_wrap{
  background: none !important;
    border: none;
    padding: 0 !important;
    text-align: center !important;
}
.share_box .jumbotron, .shared_with_box .jumbotron, .version_box .jumbotron{
  padding: 20px 20px !important;
    color: #251F21;
    background: tran;
    margin: 40px;
    padding: 20px;
}
.share_box h2, .shared_with_box h2, .version_box h2, .edit_box h2{
  padding: 0 !important;
margin: 0 !important;
color: #251F21 !important;
text-align: center;
}
.version_box h2{
  padding: 0 !important;
margin: 0 !important;
color: #251F21 !important;
text-align: center;
background: #f2f2f2 !important;
padding-top: 20px !important;
margin-top: 20px !important;
}
.version_box p{
  padding: 0 !important;
margin: 0 !important;
color: #251F21 !important;
text-align: center;
background: #f2f2f2 !important;
}
.share_box,
.shared_with_box,
.version_box,
.edit_box{
  -webkit-box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 19px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 19px 0px rgba(50, 50, 50, 0.75);
  z-index: 99999;
      color: #fff;
      background: #fff;
      /*border-bottom: 3px solid #A2A2A2 !important;*/
      display: none;
      /*height: 90vh;*/
      overflow-y: auto;
      overflow-x: hidden;
      position: fixed;
      width: 80%;
      left: 10%;
      top: 2vh;
      cursor: default;
      margin-left: 0 !important;
      display: none;
      max-height: 90vh;
}
.edit_box_inner{
  padding: 60px;
}
.edit_box h1{

}
.edit_box h2{
  text-align: left !important;
}
.edit_box input{
  padding: 10px;
    font-size: 16px;
}
.edit_btn{
  background: #63ba49;
  padding: 20px;
  font-size: 18px;
  width: 200px;
  margin-top: 10px;
  text-align: center;
}
.edit_btn:hover{
  cursor: pointer;
  opacity: 0.7;
}


.share_box .col-xs-12, .shared_with_box .col-xs-12, .version_box .col-xs-12{
  background: #fff;
}
.share_box span, .version_box span, .pdf_preview span, .shared_with_box span, .edit_box span {
  cursor: pointer;
      position: fixed;
          /*border-bottom: 1px solid #A5A5A5;*/
      top: 2vh;
      z-index: 99;
      right: 10%;
      /*background: #E3E3E3;*/
      /* height: 40px; */
      font-size: 4vh;
      padding: 1vh;
      color: #D51212;
      text-shadow: -2px 3px #420000;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      /* padding: 5px; */
      /*border-radius: 5px 5px 0 0;*/
}
.open_x{
  top:3.9vh !important;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.share_box span:hover, .version_box span:hover, .pdf_preview span:hover, .shared_with_box span:hover, .edit_box span:hover {
  text-shadow: 0 0 #000 !important;
  color: #E55F5F;
  /*color: */
  /*-ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);*/
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.overlay_3 {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.8;
  display: none;
}

.unreachable{
  opacity: 0.7;
  cursor: default !important;
}



.main_wrapper {
  z-index: 2;
  color: #fff;
  height: 100vh;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 50px;
  width: 100%;
  padding-left: 180px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.main_wrapper .row, .main_wrapper .col-md-3, .main_wrapper .col-md-4 {
  padding: 0;
  margin: 0;
}
.main_wrapper .row {
  padding: 0 5px;
}
.col-md-4 {
  color: #fff;
}
.main_select {
  padding: 10px 5px !important;
  opacity: 0.3;
  cursor: default;
  display: inline-block;
  width: 100%;
}
.reports_share, .reports_open, .reports_request, .reports_shared_with, .reports_description{
  margin: 0 1% 2% 1%;
/*text-align: left;*/
font-size: 18px;
cursor: pointer;
text-align: center !important;
position: relative;
}
#reports_table .reports_shared_with{
  width: 150px !important;
}
.request_access{
  width: 200px;
}

.reports_share div, .reports_open div, .reports_request div, .reports_shared_with div, .reports_description div{
  /*border-bottom: 2px solid #000;*/
    padding: 10px;
    color: #f2f2f2;
    background: #251F21;
    border-radius: 5px
}
.reports_share div:hover, .reports_open div:hover, .reports_request div:hover, .reports_shared_with div:hover{

    background: #63ba49;
}
.report_name{
  font-family: 'Open Sans', sans-serif;
  padding: 5px 0;
margin: 0 5px !Important;
/*border-bottom: 1px solid rgb(195, 195, 195);*/
text-align: left;
line-height: 1;
}
.report_name{
  line-height: 1 !important;
}
.report_dep{
    padding: 5px 0 5px 0;
margin: 0 5px !Important;
border-bottom: 1px solid #E6E5E5;
font-size: 16px;
text-align: left;
opacity: 0.8;
}
.report_desc{
  padding: 5px 0;
  /*margin: 0 5px;*/
font-size: 16px;
text-align: left;
opacity: 0.8;
margin: 0 5px !important;
}
.report_img{
  padding: 5px 0;
  margin: 0 10px;
  text-align: center;
  border-bottom: 1px solid #E6E5E5;
  cursor: pointer;
  text-align: center;
}
.report_img img{
  width: auto !important;
  height: auto;
  max-height: 50px;
}
.report_img i{
  font-size: 12px;
  opacity: 0.8;

}

.active_dept {
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.active_report {
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main_select div {
  /*background: rgba(37, 31, 33, 0.8);*/
}
.item_img {
  height: 210px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.item_img img {
  width: 150%;
  left: -25%;
  height: auto;
  position: relative;
  z-index: 1;
}
.img_shrink {
  height: 140px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.item_title {
  z-index: 2;
  position: relative;
  /*padding: 40px 10px;*/
  background: #f2f2f2;
  border: 5px solid #f2f2f2;
  /*border-bottom: 3px solid rgb(74, 74, 74);*/
  text-align: center;
  font-family: Georgia, serif;
  font-size: 21px;

  /*text-shadow: 0px -2px #478635;*/
  color: #251F21;
  opacity: 0.9;
  cursor: default;
}
.title_grow {
  padding: 75px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dept_link {
  /*opacity: 0.4;*/
  cursor: default !important;
}
.active_dept_link {
  opacity: 1;
  cursor: pointer !important;
}
a {
  text-decoration: none !important;
}
.breadcrumb {
  margin: 10px 15px;
  background: rgba(37, 31, 33, 0.8) !important;
  position: fixed;
  width: 100%;
  left: 0;
  padding: 15px 15px 15px 200px !important;
  bottom: 0;
  margin: 0 !important;
}
.breadcrumb li a {
  color: #63ba49 !important;
}
.breadcrumb li a:hover {
  color: #fff !important;
}
.footer_bar{
  background: #1B1718;
  padding: 15px;
  margin-bottom: 70px;
  text-align: center;
  float: left;
  width: 100%;
}
.footer{
  /*margin-top: 15px;*/
  padding: 45px;
  background:#251f21;

  text-align: center;
  float: left;
  width: 100%;
}
.footer .col-sm-4{
  padding: 10px;
}
.footer .col-sm-4 div{
  background: #473F41;
    padding: 20px 0 20px 0;
    border:5px solid #473F41;
}
.footer .col-sm-4 div:hover{
  border:5px solid #63ba49;
}

.footer_widget_box{
  float: left;
  width: 33.3%;
}
.footer_catalog, .footer_links{
  cursor: default;
  color: #f2f2f2 !important;
}
.footer_links a p{
  color: #f2f2f2 !important;
}
.footer_links a p:hover{
  color: #63ba49 !important;
}
.footer_catalog p:hover{
  color: #63ba49 !important;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  /* margin-left: -34px; */
  z-index: 9999999999999;
  position: absolute;
  left: -20px;
  top: 26px;
  /* background: red; */
  border-right: 20px solid #D93B3B;
}
.arrow-bottom {
  width: 30px;
  height: 30px;
  /* border-left: 20px solid transparent; */
  /* border-right: 20px solid transparent; */
  /* margin-left: -34px; */
  z-index: 9999999999999;
  position: absolute;
  bottom: -17px;
  border-right: 3px solid #63ba49;
  background: #f2f2f2;
  border-bottom: 3px solid #63ba49;
  transform: rotate;
  ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  left: 46.5%;
  transform: rotate(45deg);
}
.share_this_one .arrow-bottom{
  background: #fff !important;
}
.search_callout{
  position: fixed;
  top: 158px;
  width: auto;
  height: auto;
  background: #D93B3B;
  left: 210px;
  font-size: 21px;
  text-align: center;
  color: #f2f2f2;
  z-index: 3;
  padding: 25px !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: none;
   display: none;
}

.loadingThis{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: #fff;
}
.loadingThisList{
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: #fff;
  padding: 20px;
}


.scroll_right, .scroll_down, .scroll_left, .scroll_up{
  display: none;
}

.share_accepted{
  color: #000 !important;
  text-align: center;
}
.the_actions{
      /*margin: 0 10px 0 10px !important;*/
      font-size: 16px;
      color: #8F8F8F;
      margin: 0 !important;
      padding-left: 5px !important;
}
.the_actions i{
  border: 1px solid #8F8F8F;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    color: #8F8F8F;
}
.the_actions i:hover{
  border: 1px solid #63ba49;
    color: #63ba49;
}
.report_owner{
  text-align: left;
    font-size: 12px;
    /*margin: 10px;*/
    padding: 5px 0 5px 0 !important;
    margin: 0 5px 0 5px !important;
    /* opacity: 0.5; */
    border-bottom: 1px solid #E6E5E5;
    /*height: 50px;*/

}
.report_owner .col-xs-3, .report_owner .col-xs-9{
  padding: 0 !important;
}
.reports_user_img{
  display: inline-block;
  /*height: 40px;*/
  /*position: absolute;*/
  /*border-left: 5px solid #63ba49;*/
}
.reports_user_img img{
  width: 100% !important;
  height: 100% !important;
}
.owner_p{
  /*position: absolute;*/
      left: 50px;
      font-size: 12px;
      color: #666;
      line-height: 16px !important;
      display: inline-block;
      padding-left: 5px !important;
      /*margin: 0 10px 0 10px !important;*/
}
.owner_p p{
  margin: 0 !important;
}
.report_version{
    float: right;
margin: 10px;
      font-size: 21px;
      color: #666;
      line-height: 16px !important;
      display: inline-block;
      cursor: pointer;
}
.report_version_list{
  float: none;
  width: 100%;
  text-align: center;
  padding: 12px;
  color: #f2f2f2;
  background: #251F21;
  border-radius: 5px;
  font-size: 18px;
  margin:0;
}
.report_img_list img{
  height: 45px !important;
}

.report_version a{
   color:#241E20 !important;
}
.report_version_list a{
  color: #f2f2f2 !important;
}
.report_version a:hover{
      color: #63ba49 !important;

}
.report_owner img{
  display: inline-block;

}
.owner_icon{
  border: 1px solid #000;
    padding: 5px;
    opacity: 0.8;

}

.left_icon{
  float: left;
}
.right_icon{
  float: right;
  position: absolute;
right: 8px;
top: -5px;
background: #63ba49;
padding: 6px;
border-radius: 50%;
z-index: 3;
cursor: pointer;
border: 1px solid #251F21;
transition: ease-in-out 0.4s;
}
.right_icon:hover .right_icon:after{
  content:"Edit";
}
.right_icon:hover{
  background: #f2f2f2;
  color: #251F21;
  transition: ease-in-out 0.4s;
}
.icon_box{
  padding: 0 !important;
}

.the_owner{
  cursor: pointer;

}
.the_owner:hover, .owner_icon:hover{
  cursor: pointer;
  color:#63ba49;
}

.desc_float, .pdf_preview{
  position: absolute;
  border: 3px solid #63ba49;
  border-radius: 8px;
  background: #f2f2f2;
  z-index: 99;
  bottom: 151%;
  font-size: 16px;
  width: 100%;
  padding: 20px;
   display: none;
}

.pdf_preview{
  /*width: 30%;*/
  height: 30vh;
  padding: 0;
  top: 2%;
  left: 2%;
  overflow: hidden;
  position:static;
  z-index: 9999999;
}
.pdf_preview object{
  /*border: 3px solid #63ba49;*/
  border-radius: 0;
  background: #f2f2f2;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #251F21;
}
.pdf_preview iframe{
  /*border: 3px solid #63ba49;*/
  border-radius: 0;
  background: #f2f2f2;
  padding: 0;
  width: 100%;
  height: 100%;
}


.delv_load{
  position: fixed;

}

.mob_menu_button{
  display: none !important;
  float:left;
}

.load_more_box{
  background: rgba(28, 28, 28, 0.8);
  padding: 20px 0 20px 0;
  cursor: default;
}

.load_more_reports, .load_more_reports_catalog{
  text-align: center;
  padding: 20px;
  background: #f2f2f2;
  color: #251f21;
  font-size: 18px;
  width: 250px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid #251f21;
}
 .load_more_reports_catalog{
   display: none;
 }
.load_more_reports:hover,  .load_more_reports_catalog:hover{
  background: #251f21;
  color: #f2f2f2;
  border: 3px solid #f2f2f2;
}
.recipient_wrapper{
  padding: 10px;
  color:#000;
}
.inner_recipient{
  background: #E3E3E3;
    border: 2px solid #A7A7A7;
  padding: 10px;
  /*cursor: pointer;*/
  margin: 0 !important;
}
.inner_recipient:hover{
  background: #fff;
}
.shared_with_box .jumbotron{
      margin: 10px 0 30px 0;
}
.inner_recipient img{
  /*display: inline-block;*/
}
.recipient_name{
  margin: .67em 0 !important;
}
.inner_recipient h1{
  /*display: inline-block;*/
  font-size: 16px;
  text-align: center;
}
.theseRecipientsWrap{
  cursor: pointer;
  color:#5C5CBE;
  display: inline-block;
}
.theseRecipientsWrap:hover{
  color: #29297A;
}
.share_this_one{

  position: fixed;
z-index: 999999;
top: 10%;
    width: 80%;
    left: 10%;

  padding: 30px;
  display: none;
  background: #fff !important;
  color: #262121 !important;

  /*min-height: 500px;*/
  padding-bottom: 20px !important;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 19px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 19px 0px rgba(50, 50, 50, 0.75);
  /*border: 2px solid #63BA49;*/
}
.share_this_one_h2{
  color: #000 !important;
    font-size: 16px;
    text-align: left;
    margin: 0;
}
.share_this_one_p{
  text-align: left;
font-size: 14px;
line-height: 14px !important;
margin-top: 10px !important;
}
.share_this_one_p i{
  margin-right: 10px;
}
.share_this_one_h1{
  text-align: left;
  font-size: 22px;
  color: #000 !important;

}
#share_report{
  width: 40%;
float: right;
background: #63BA49;
text-align: center;
color: #f2f2f2;
font-size: 18px;
padding: 15px 0;
cursor: pointer;
}
#share_report:hover{
    opacity: 0.7;
}
#cancel_report_share{
  cursor: pointer;
  width: 40%;
    float: right;
    margin-left: 10px;
    background: #63BA49;
text-align: center;
color: #f2f2f2;
font-size: 18px;
padding: 15px 0;
}
#cancel_report_share:hover{
    opacity: 0.7;
}
.share_overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #f2f2f2;
  opacity: 0.8;
  z-index: 99999;
  display: none;
}
.share_this_one iframe{
  height: 500px;
  width: 100%;
}


@media only screen and (max-width: 720px) {
  .edit_box_inner{
    padding: 10px;
  }

  .report_name, .reports_open, .reports_description, .reports_share, .reports_shared_with{
    font-size: 16px !important;
  }
  .report_dep, .report_desc{
    font-size: 14px !important;
  }
  .the_actions{
    display: none;
  }
  .report_img{
    text-align: left;
    margin:0 5px;
  }

  .item_title{
    text-align: left !important;
  }
  .report_version{
    float: none !important;
  }

  .edit_box_inner h1{
    font-size: 16px !important;
  }
  .edit_box_inner h2{
    font-size: 14px !important;
  }
  .edit_box_inner input, .edit_btn{
    font-size: 14px !important;
  }




  .share_this_one{
    top: 2%;
width: 96%;
left: 2%;
padding: 15px;
  }

  .share_box span, .version_box span, .pdf_preview span, .shared_with_box span, .edit_box span {

    right: 4%;

  }
  .share_box, .shared_with_box, .version_box, .edit_box{

        width: 92%;
        left: 4%;

  }

  .main_wrapper .row {
    padding: 0;
  }

  .gen_info{
    padding: 0;
  }
  .main_wrapper .col-sm-12, .main_wrapper .col-xs-12, .inner_reps{
    padding: 0 !important;
  }

  .mob_menu_button{
    display:block !important;
  }

  .table-responsive{
    /*padding: 20px 50px 10px 50px !important;*/
  }
  .footer_bar{
    margin-bottom: 55px;
  }
  .footer{
    margin-top: -35px;
  }

  .my_reports_bar{
    margin-right: 8px !important;
margin-top: 25px !important;
margin-left: 25px !important;
  }

  /*.icon_box_box{
    margin-right: 8px !important;
margin-left: 25px !important;
  }
  .rep_cat{
    margin-right: 8px !important;
margin-left: 25px !important;
  }*/
  /*.table_row{
    margin-right: 8px !important;
margin-left: 25px !important;
  }*/

/*
  .table-responsive{
    border-radius: 0 !important;
    padding: 0 !important;
    margin-top: 0 !important;
  }*/

  /*.table_row, .table_row .col-xs-12{
    padding: 0 0 !important;
    margin:0 0 !important;
  }*/

  .scroll_right, .scroll_down, .scroll_left, .scroll_up{
    display: block;
    background: #251F21;
  }
  .scroll_up{
    position: fixed;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    top:120px;
    left:0;
    z-index: 99;
    font-size: 20px;
  }
  .scroll_down{
    position: fixed;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    bottom:0;
    left:0;
    z-index: 99;
    font-size: 20px;
  }
  .scroll_right{
    position: absolute;
    width: 40px;
    height: 100%;
    /* padding-top: 30%; */
    font-size: 20px;
    /* line-height: 463px; */
    text-align: center;
    color: #fff;
    bottom: 15px;
    right: 10px;
    padding-top: 50%;
    z-index: 1;
  }
  .scroll_right span{
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 10px;
    /* position: absolute; */
    /* right: 10px; */
  }
  .scroll_left{
    position: absolute;
        width: 40px;
        height: 100%;
        /* padding-top: 30%; */
        font-size: 20px;
        /* line-height: 463px; */
        text-align: center;
        color: #fff;
        bottom: 15px;
        left: 10px;
        padding-top: 50%;
        z-index: 1;
  }
  .scroll_left span{
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 10px;
    /* position: absolute; */
    /* left: 10px; */
  }

  .menu_button span{
    top:0;
  }


  .share_box .jumbotron, .shared_with_box .jumbotron {
      /* padding: 20px 20px !important; */
      color: #251F21;
      background: tran;
      margin: 40px 10px;
      padding: 20px;
  }

  .share_box_inner, .request_box_inner, .share_accepted, .shared_box_inner {
      /*display: none;*/
      /*padding: 20px;*/
      /*background: #D9D9D9;*/
      /*margin: 40px 10px;*/
      /*border-bottom: 3px solid #AFAFAF;*/
  }

  .share_box, .shared_with_box {

    width: 94%;
    left: 3%;
}

  .search_button{
    display: none;
  }
  .search_button_two{
    display: block;
  }
  .social_box{
    width: 100%;
  }
  .main_wrapper{
    /*margin-top: 70px;*/
    padding-bottom: 70px;
  }
  nav {
    left: -100%;
    width: 100%;
    margin-top:70px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .open_nav{
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .brand_box:nth-child(1){
    display: none;
  }
  .menu_bar {
    display: block;
    background: #251f21;
position: fixed;
width: 100%;
z-index: 999;
top: 50px;
left: 15px;
  }
  .main_wrapper {
    padding-left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
td img {
  width: 40px;
  height: auto;
}
.icon_box_nav_bar{
  /*display: none;*/
  background: rgba(28, 28, 28, 0.9);
  display: block;
}

.icon_box_nav_bar .row{



  /*-webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;*/
}



.mobile_icon_nav_bar span{
  float: right;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.mobile_icon_nav_bar{
  display: none;
  cursor: pointer;
  z-index: 2;
  position: relative;
  padding: 20px 20px !important;
  background: rgb(46, 36, 38) !important;
  border: 1px solid #0A0A0A;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 21px;
  /* text-shadow: 0px -2px #0A0A0A; */
  line-height: 1;
  /* margin: 20px 0 0 0; */
  /* border-radius: 6px; */
  border-bottom: 1px solid #0A0A0A;
}
.inner_icon_box {
  /*display: none;*/
  /*margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 10px 10px 10px;
  margin-top: -10px;*/
  display: none;
  min-height: 114px;
     background: rgba(28, 28, 28, 0.8);
     padding: 10px 10px 10px 10px;
     margin-top: -2px;
     float: left;
     width: 100%;
     /*z-index: 99999999999;*/
     position: relative;

  /*-webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px;*/
}


.table-responsive{
  min-height: 300px;
  padding: 20px 42px 10px 42px;
}

.inner_icon_box .report_row {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

/*@media (max-width: 1200px) {
  .inner_icon_box {
  -moz-column-count:    4 !important;
  -webkit-column-count: 4 !important;
  column-count:         4 !important;
  }
}*/
@media (max-width: 1000px) {
  /*.inner_icon_box {
  -moz-column-count:    3 !important;
  -webkit-column-count: 3 !important;
  column-count:         3 !important;
  }*/
}
@media (max-width: 800px) {
  .mobile_icon_nav_bar{
    display: block;
  }
  .icon_box_nav_bar{
    display: none;
  }
  /*.inner_icon_box {
  -moz-column-count:    2 !important;
  -webkit-column-count: 2 !important;
  column-count:         2 !important;
  }*/
}
@media (max-width: 400px) {
  /*.inner_icon_box {
  -moz-column-count:    1 !important;
  -webkit-column-count: 1 !important;
  column-count:         1 !important;
  }*/
}




.report_sheet {
  /*display: none;*/
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px 20px 20px 20px;
  margin-top: -10px;
  color: #000;
  display: none;
}
.cats {
  /*display: none;*/
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 10px 10px 10px;
  margin-top: -10px;
  display: none;
}
.inner_reps {
  padding: 0 10px 10px 10px;
}
.rep_cat {
  /*padding: 15px !important;*/
  /*display: none;*/
}
.inner_rep_cat, .inner_rep_det, .inner_rep_gro, .inner_rep_ico, .inner_rep_req {
  cursor: pointer;
  z-index: 2;
  position: relative;
  padding: 20px 20px;
  background: rgb(46, 36, 38) !important;
  border-bottom: 3px solid #1C1C1C !important;
  text-align: left;
  font-family: Georgia, serif;
  font-size: 18px;
  text-shadow: 0px -2px #1C1C1C;
  line-height: 1;
  /*margin: 20px 0 0 0;*/
  /*border-radius: 6px;*/
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.col-xs-12{
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.cat_choice:nth-child(1){
  z-index: 99 !important;
}
.cat_choice:nth-child(2){
  z-index: 98 !important;
}
.cat_choice:nth-child(3){
  z-index: 97 !important;
}
.cat_choice:nth-child(4){
  z-index: 96 !important;
}
.cat_choice:nth-child(5){
  z-index: 95 !important;
}
.cat_choice:nth-child(6){
  z-index: 94 !important;
}
.cat_choice:nth-child(7){
  z-index: 93 !important;
}
.cat_choice:nth-child(8){
  z-index: 92 !important;
}
.cat_choice:nth-child(9){
  z-index: 91 !important;
}
.cat_choice:nth-child(10){
  z-index: 90 !important;
}
.cat_choice:nth-child(11){
  z-index: 89 !important;
}
.cat_choice:nth-child(12){
  z-index: 88 !important;
}
.the_list{
  background: #E6E6E6;
  max-height:500px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 9999999;
  top: 100%;
  display: none;
      border-bottom: 4px solid #0A0A0A;
      border-radius: 0 0 6px 6px;

}
.the_list ul{
  list-style: none;
text-align: left;
color: #251F21;
padding: 0;
margin: 0;
}

.the_list ul li{
  padding: 20px;
  border-bottom: 2px solid #fff;
}
.the_list ul li:hover{
  background: #fff;
}


.cat_choice, .all_dept{
  cursor: pointer;
  z-index: 2;
  position: relative;
  padding: 20px 1px !important;
  background: rgb(46, 36, 38) !important;

  border: 1px solid #1C1C1C;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 21px;
  /*text-shadow: 0px -2px #0A0A0A;*/
  line-height: 1;
  /*margin: 20px 0 0 0;*/
  /*border-radius: 6px;*/
}
.cat_choice:hover, .all_dept:hover{
  background: #63ba49 !important;

}
.inner_rep_cat {
  border-right: 2px solid #478635;
  border-radius: 6px 0 0 6px;
}
.inner_rep_det {
  border-right: 2px solid #478635;
}
.inner_rep_gro {
  border-right: 2px solid #1C1C1C;
}
.inner_rep_ico {
  /*border-right: 2px solid #478635;*/
}
.inner_rep_req {
  border-radius: 0 6px 6px 0;
}
.inner_rep_cat:hover {
  background: #335D27 !important;
  border-bottom: 3px solid #335D27 !important;
  text-shadow: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.inner_rep_det:hover {
  background: #335D27 !important;
  border-bottom: 3px solid #335D27 !important;
  text-shadow: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.inner_rep_gro:hover {
  background: #63ba49 !important;
  border-bottom: 3px solid #335D27 !important;
  text-shadow: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.inner_rep_req:hover {
  background: #335D27 !important;
  border-bottom: 3px solid #335D27 !important;
  text-shadow: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.inner_rep_ico:hover {
  background: #63ba49 !important;
  border-bottom: 3px solid #335D27 !important;
  text-shadow: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.inner_rep_cat span, .inner_rep_det span, .inner_rep_gro span, .inner_rep_ico span, .inner_rep_req span {
  float: right;
  position: relative;
  /*top: -7px;*/
}
.view {
  padding: 0 !important;
}
.table-responsive {

  /*display: none;*/
  border-radius: 3px;
  /*margin-bottom: 20px;*/
  background: rgba(28, 28, 28, 0.4);
  padding: 20px 10px 10px 10px;
  margin-top: -10px;
}
.table {
  width: 100%;
  background: #CCCCCC;
  max-width: 100%;
  border: none !important;
  color: #000;
  border-bottom: 3px solid #A2A2A2 !important;
  margin: 0 !important;
}
thead {
  color: #444444;
  font-size: 16px;
}
td {
  cursor: pointer;
}
.report_btn:hover {
  background: #63ba49;
  color: #fff;
}
.share_btn:hover {
  background: #63ba49;
  color: #fff;
}

/*nav, .main_wrapper, .overlay, .overlay_3, .background{
  display: none !important;
}*/


.selected_item{
  background: #335D27 !important;
  color: #f2f2f2 !important;
}


.instructions{
  color: #251F21;
/* font-weight: bold; */
font-size: 18px;
padding: 10px;
text-align: center;
}

.submit_dps{
  background: #63ba49;
    padding: 15px;
    text-align: center;
    font-size: 21px;
    border-bottom: 3px solid #478635;
    border-radius: 3px;
    text-shadow: 2px red;
    text-shadow: 0px -2px #478635;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.submit_dps:hover {
  background: #335D27 !important;
  border-bottom: 3px solid #335D27 !important;
  text-shadow: none !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
